﻿@model List<PaisViewModel>

@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-6">
        Países:
        @Html.DropDownList("cmd_pais", new SelectList(Model, "Id", "Nome"))
    </div>
    <div class="col-md-6">
        Estados: @Html.DropDownList("cmd_estado", new SelectList( Enumerable.Empty<SelectListItem>(), "Id", "Nome"))
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#cmd_pais').change(function () {
            var idPais = $('#cmd_pais').val();
            if (idPais > 0) {
                $.post('@Url.Action("ObterEstados", "Home")', { 'idPais': idPais }, function (data) {
                    $('#cmd_estado').empty();
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $('#cmd_estado').append('<option value="' + data[i].Id + '">' + data[i].Nome + '</option>');
                        }
                    }
                });
            }
        });
    });

</script>